<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2025-2035</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <a href="index.html">
    <h1>Timeline</h1>
  </a>
  <div class="timeline">
    <div class="sub-decade-container" id="decade-2025">
      <span class="sub-decade" id="sub-decade-2025">2025</span>
    </div>
    <div class="main-decade-container" id="decade-2030">
      <span class="main-decade" id="main-decade-2030">SYNERGY</span>
    </div>
    <div class="sub-decade-container" id="decade-2035">
      <span class="sub-decade" id="sub-decade-2035">2035</span>
    </div>
  </div>

  <div class="videos">
    <iframe style="border-radius:12px" width="100%" height="352"
      src="https://www.youtube.com/embed/3qaxklDCOLQ?si=uZFy5ujy31QndJ0K" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    <iframe style="border-radius:12px" width="100%" height="352"
      src="https://www.youtube.com/embed/9yEywOp799w?si=qVBsf38vBDJsLYrP" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    <iframe style="border-radius:12px" width="100%" height="352"
      src="https://www.youtube.com/embed/6QgItdIqN2o?si=Py7ySVThCtIHEudG" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
  </div>

  <div class="playlists">
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/0NDgrdM32zxC4Cj3eg5zVi?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/2YbFX8fwLAF159FRukBsbw?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/678T1UCXYx4orFPrlhZTvf?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/1XBMbfyxDYWQEL7H1I7D6T?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/29ztVJog4zO9hxBYQ7Fih1?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/64QbgsyjBDshQ5Scw43BFG?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/4F7ucg3Sa39Rx50w3kIDCW?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/6bCvw4PTIZSPaFMIcpuo7Z?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/1CxBCaa0VYSoeUCwBLacg3?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/6yphyRNngj6XHd5YbQrrxp?utm_source=generator" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
