<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2045-2055</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <a href="index.html"><h1>Timeline</h1></a>
  <div class="timeline">
    <div class="sub-decade-container" id="decade-2045">
      <span class="sub-decade" id="sub-decade-2045">2045</span>
    </div>
    <div class="main-decade-container" id="decade-2050">
      <span class="main-decade" id="main-decade-2050">TRANSCENDENCE</span>
    </div>
    <div class="sub-decade-container" id="decade-2055">
      <span class="sub-decade" id="sub-decade-2055">2055</span>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
