<!doctype html>
<html lang="en">

  <!-- Display notification message if invalid input was given for user_id -->
  {% if invalid_id %}
    <h2>The comic you requested doesn't exist, so you received a random one instead.</h2>
  {% else %}
  {% endif %}

  <!-- Display input form from index.html with slightly altered h1 -->
  <h1>Which XKCD Comic would you like to see next?</h1>
  <body>
    <form action="{{url_for('read_form')}}" method="post">
      <label for="comic_id">Comic ID:</label>
      <input type="text" name="comic_id" placeholder="Enter XKCD Comic ID">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>

  <br><br>

  <!-- Display data from the JSON file -->
  <h1>XKCD Comic {{ data.num }}</h1>
  <h2>{{ data.title }}</h2>
  <body>
    <img src="{{ data.img }}" alt="{{ data.alt }}">
    <p>{{ data.alt }}</p>
  </body>

  <br><br>

</html>
