<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1995-2005</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% include '_account_nav.html' %}
  <a href="{{ url_for('index') }}"><h1>Timeline</h1></a>
  <nav class="timeline" aria-label="genesis timeline">
    <div class="sub-decade-container" id="decade-1995">
      <span class="sub-decade" id="sub-decade-1995">1995</span>
    </div>
    <div class="main-decade-container" id="decade-2000">
      <span class="main-decade" id="main-decade-2000">GENESIS</span>
    </div>
    <div class="sub-decade-container" id="decade-2005">
      <span class="sub-decade" id="sub-decade-2005">2005</span>
    </div>
  </nav>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
